body {
  /* background-image: url('http://clipart-library.com/images/pTodGzK7c.jpg'); */
  background-image: url('https://cdn3.vectorstock.com/i/1000x1000/29/82/red-open-curtain-with-wood-floor-in-theater-velve-vector-21932982.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
}

h1, h2, h4, button, #input {
  font-family: 'Righteous', cursive;
}

.App {
  
  text-align: center;
  color: whitesmoke;
  /* background-color: rgba(3, 0, 0, 0.55); */
}

img {
  height: 180px;
}

form {
  margin: 0 auto;
  width: 37%;
  /* text-align: center; */
}

table {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

td, th {
  padding-right: 15px;
}

#comments {
  text-align: center;
  width: 15%;
}

input {
  
  display: block;
  margin: 0 auto;
  width: max-content;
}

.understudies_seen, .at_stagedoor, #if_understudies, #if_stagedoor {
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
}

.musicalsindex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onemusical {
  margin: 10px;
}

#date_of_show {
  width: 150px;
}

#hide {
  display: none;
}

#musicals_container {
  margin-top: 8%;
}

/* #comments {
  width: 300px;
  height: 150px;
} */

label {
  display: inline-block;
}



